/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/** end reset css**/
body {
  font-family: "Work Sans";
  font-size: 14px;
  background: #fffef6;
  cursor: default;
}

nav ul {
  display: flex;
  align-items: center;
  list-style-type: none;
}

nav li {
  padding: 0 10px;
  font-size: 1.2em;
  cursor: pointer;
}

li:hover,
a:hover {
  color: #B1663C;
}

section {
  margin: 50px 0;
}

h2 {
  font-family: "Syne";
  font-weight: 700;
  font-size: 30px;
  color: #1D6154;
}

.edit-content {
  cursor: pointer;
  display: flex;
  gap: 0.5em;
}

.hidden {
  visibility: hidden;
}

header,
main {
  max-width: 1140px;
  margin: auto;
}

header {
  display: flex;
  justify-content: space-between;
  margin: 50px auto;
}

h1 {
  display: flex;
  flex-direction: column;
  font-family: "Syne";
  font-size: 22px;
  font-weight: 800;
  padding: 0 10px;
  color: #B1663C;
}

h1 > span {
  font-family: "Work Sans";
  font-size: 10px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.insta {
  width: 1.2em;
}

footer {
  background: #fff;
  margin: 0 auto;
}

footer nav ul {
  display: flex;
  justify-content: flex-end;
  margin-right: 8vw;
  padding: 2em;
}

.footer-login {
  position: fixed;
  bottom: 0;
  width: 100%;
}

/* Message d'alerte si chargement impossible des images */
.alert {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  color: #fffef6;
  font-weight: 800;
  background-color: rgb(255, 149, 149);
  border-radius: 10px;
  padding: 1rem;
  margin: 1vw 0;
}

/* Fin du message d'alerte */
#modal1,
#modal2 {
  position: relative;
  width: 45%;
  border: none;
  border-radius: 5px;
  background: #fff;
  text-align: center;
}
#modal1::backdrop,
#modal2::backdrop {
  background: rgba(0, 0, 0, 0.4);
}

.modal-gallery__close {
  position: absolute;
  right: 1.5em;
  top: 1.5em;
  font-size: 1.5em;
  cursor: pointer;
}
.modal-gallery h3 {
  font-size: 1.9em;
  padding: 1.8em 0 1em;
}
.modal-gallery hr {
  height: 1px;
  background: black;
  width: 75%;
  border: none;
  background: #B3B3B3;
}
.modal-gallery__add {
  font-family: "Syne";
  font-weight: 700;
  color: white;
  background-color: #1D6154;
  margin: 2em auto;
  padding: 0.6rem 1.8rem;
  width: 12rem;
  text-align: center;
  border: none;
  border-radius: 60px;
  white-space: nowrap;
  cursor: pointer;
  margin: 1em auto;
}
.modal-gallery__remove {
  font-weight: 400;
  color: #D65353;
  margin: 0.5em 0 2em;
  cursor: pointer;
}

.modal-gallery-content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-column-gap: 0.5em;
  grid-row-gap: 1em;
  margin: 2em 4em 4em;
  text-align: left;
}
.modal-gallery-content img {
  width: 100%;
}
.modal-gallery-content figure {
  position: relative;
}
.modal-gallery-content figure .icon {
  position: absolute;
  top: 5%;
  right: 5%;
  color: #fff;
  background: black;
  font-size: 0.7em;
  padding: 0.3em;
  border-radius: 2px;
  cursor: pointer;
}
.modal-gallery-content figure figcaption {
  cursor: pointer;
}

.modal-add-picture__close {
  position: absolute;
  right: 1.5em;
  top: 1.5em;
  font-size: 1.5em;
  cursor: pointer;
}
.modal-add-picture h3 {
  font-size: 1.9em;
  padding: 1.8em 0 1em;
}
.modal-add-picture hr {
  height: 1px;
  background: black;
  width: 75%;
  border: none;
  background: #B3B3B3;
}
.modal-add-picture__return {
  position: absolute;
  left: 1.5em;
  top: 1.5em;
  font-size: 1.5em;
  cursor: pointer;
}
.modal-add-picture .add-element {
  position: relative;
  background: #E8F1F6;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  margin: 2em 4em 0;
}
.modal-add-picture .add-element p {
  font-size: 0.7em;
  padding-bottom: 2em;
}
.modal-add-picture .add-element img {
  width: 20%;
  opacity: 0.1;
  padding-top: 2em;
}
.modal-add-picture .add-element__label {
  font-family: "Syne";
  font-weight: 700;
  color: white;
  background-color: #1D6154;
  margin: 2em auto;
  padding: 0.6rem 1.8rem;
  width: 12rem;
  text-align: center;
  border: none;
  border-radius: 60px;
  white-space: nowrap;
  cursor: pointer;
  background: #CBD6DC;
  color: #306685;
  font-family: "Work sans";
  font-weight: 500;
  width: auto;
  margin: 1em auto 0.5em;
  cursor: pointer;
}
.modal-add-picture .add-element__input {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  cursor: pointer;
}

#modal2-form {
  margin: 2em 4em 0;
  text-align: left;
  display: flex;
  flex-direction: column;
}
#modal2-form input,
#modal2-form select {
  height: 50px;
  font-size: 1.2em;
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#modal2-form select {
  margin-bottom: 2em;
}
#modal2-form label {
  margin: 2em 0 1em 0;
}
#modal2-form hr {
  width: 100%;
}
#modal2-form button {
  font-family: "Syne";
  font-weight: 700;
  color: white;
  background-color: #1D6154;
  margin: 2em auto;
  padding: 0.6rem 1.8rem;
  width: 12rem;
  text-align: center;
  border: none;
  border-radius: 60px;
  white-space: nowrap;
  cursor: pointer;
  background: #A7A7A7;
}

.edition-banner {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
  background: #000000;
  color: #fff;
  padding: 0.6rem;
  gap: 1rem;
}
.edition-banner button {
  font-family: "Syne";
  font-weight: 700;
  color: white;
  background-color: #1D6154;
  margin: 2em auto;
  padding: 0.6rem 1.8rem;
  width: 12rem;
  text-align: center;
  border: none;
  border-radius: 60px;
  white-space: nowrap;
  cursor: pointer;
  margin: 0;
  width: auto;
  padding: 1em 1.8em;
  font-family: "Work Sans";
  font-weight: 500;
  background: #fff;
  color: #000000;
}

header,
main {
  padding: 0 30px;
}

#introduction {
  display: flex;
  align-items: center;
}
#introduction figure {
  display: flex;
  flex-direction: column;
  gap: 1em;
  flex: 1;
}
#introduction img, #introduction .edit-content {
  margin: auto;
  width: 80%;
}
#introduction article {
  flex: 1;
  position: relative;
}
#introduction article .edit-content {
  position: absolute;
  top: -5vw;
}
#introduction h2 {
  margin-bottom: 1em;
}
#introduction p {
  margin-bottom: 0.5em;
}

#portfolio .title {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2em;
  margin-bottom: 4em;
  margin-left: 12.5vw;
}

.gallery {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  padding-top: 3rem;
}
.gallery img {
  width: 100%;
}

/* Filtres */
.filters {
  display: flex;
  justify-content: center;
  gap: 1rem;
}
.filters .btn {
  border: 1px solid #1D6154;
  background: #fffef6;
  border-radius: 60px;
  color: #1D6154;
  font-size: 1rem;
  font-weight: 700;
  padding: 0.6em 1.8em;
  cursor: pointer;
}
.filters .btn-active {
  background: #1D6154;
  color: #fffef6;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

/* Fin Filtres */
#contact {
  width: 50%;
  margin: auto;
}
#contact > * {
  text-align: center;
}
#contact h2 {
  margin-bottom: 20px;
}
#contact form {
  text-align: left;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}
#contact input {
  height: 50px;
  font-size: 1.2em;
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
  margin: 2em 0 1em 0;
}
#contact input[type=submit] {
  font-family: "Syne";
  font-weight: 700;
  color: white;
  background-color: #1D6154;
  margin: 2em auto;
  padding: 0.6rem 1.8rem;
  width: 12rem;
  text-align: center;
  border: none;
  border-radius: 60px;
  white-space: nowrap;
  cursor: pointer;
}
#contact textarea {
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

.main-login {
  width: 50%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-login > * {
  text-align: center;
}
.main-login h2 {
  margin-bottom: 20px;
}
.main-login form {
  text-align: left;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}
.main-login input {
  height: 50px;
  font-size: 1.2em;
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
.main-login label {
  margin: 2em 0 1em 0;
}
.main-login input[type=submit] {
  font-family: "Syne";
  font-weight: 700;
  color: white;
  background-color: #1D6154;
  margin: 2em auto;
  padding: 0.6rem 1.8rem;
  width: 12rem;
  text-align: center;
  border: none;
  border-radius: 60px;
  white-space: nowrap;
  cursor: pointer;
}
.main-login #login-window {
  width: 380px;
}
.main-login a {
  text-decoration: underline;
}

input {
  padding: 0 16px;
}

/*# sourceMappingURL=style.css.map */
