/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/** end reset css**/
*:focus {
  outline-color: #B1663C;
}

body {
  font-family: "Work Sans";
  font-size: 14px;
  background: #fffef6;
  cursor: default;
}

header,
main {
  max-width: 1140px;
  margin: auto;
}

li:hover,
a:hover {
  color: #B1663C;
}

section {
  margin: 50px 0;
}

h2 {
  font-family: "Syne";
  font-weight: 700;
  font-size: 30px;
  color: #1D6154;
}

.edit-content {
  border: none;
  background-color: transparent;
  font-size: 1em;
  font-family: "Work Sans";
  cursor: pointer;
  display: flex;
  gap: 0.5em;
}
.edit-content:hover {
  color: #B1663C;
}

.hidden {
  visibility: hidden;
}

/* Messages d'alerte JS */
.alertElement {
  text-align: center;
  font-size: 1rem;
  color: #fffef6;
  font-weight: 800;
  background: rgba(241, 7, 7, 0.7019607843);
  border-radius: 10px;
  padding: 1rem;
  margin: 1vw 0;
}

.success {
  text-align: center;
  font-size: 1rem;
  color: #fffef6;
  font-weight: 800;
  background: rgba(241, 7, 7, 0.7019607843);
  border-radius: 10px;
  padding: 1rem;
  margin: 1vw 0;
  background: #88dbcc;
  color: white;
}

header {
  display: flex;
  justify-content: space-between;
  margin: 50px auto;
}

h1 {
  display: flex;
  flex-direction: column;
  font-family: "Syne";
  font-size: 22px;
  font-weight: 800;
  padding: 0 10px;
  color: #B1663C;
}

h1 > span {
  font-family: "Work Sans";
  font-size: 10px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.navbar {
  position: relative;
  display: flex;
  justify-content: space-between;
}
.navbar ul {
  display: flex;
  gap: 3em;
  align-items: center;
  list-style-type: none;
}
@media screen and (max-width: 745px) {
  .navbar ul {
    overflow: hidden;
    max-height: 0;
    flex-direction: column;
    align-items: flex-start;
    padding: 0 3em 0 1em;
    gap: 0.7em;
  }
}
.navbar li {
  font-size: 1.2em;
  cursor: pointer;
}
.navbar .insta {
  width: 1.2em;
  cursor: pointer;
}
.navbar .navbar-toggle {
  display: none;
  cursor: default;
}
.navbar .navbar-toggle i {
  font-size: 1.5em;
  color: #1D6154;
}
@media screen and (max-width: 745px) {
  .navbar .navbar-toggle {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
  }
}
.navbar #toggle {
  display: none;
}
@media screen and (max-width: 745px) {
  .navbar #toggle:checked + ul {
    max-height: 200px;
    align-items: flex-end;
  }
}

footer {
  background: #fff;
  margin: 0 auto;
}

footer nav ul {
  display: flex;
  justify-content: flex-end;
  margin-right: 8vw;
  padding: 2em;
}

.footer-login {
  position: fixed;
  bottom: 0;
  width: 100%;
}

#modal1,
#modal2 {
  position: relative;
  width: 45vw;
  border: none;
  border-radius: 5px;
  background: #fff;
  text-align: center;
}
#modal1::backdrop,
#modal2::backdrop {
  background: rgba(0, 0, 0, 0.4);
}
@media screen and (max-width: 745px) {
  #modal1,
  #modal2 {
    width: 90%;
  }
}

.modal-gallery .modal-close {
  border: none;
  background: #fff;
  position: absolute;
  right: 1.5em;
  top: 1.5em;
  font-size: 1.5em;
  cursor: pointer;
}
.modal-gallery h3 {
  font-size: 1.9em;
  padding: 1.8em 0 1em;
}
.modal-gallery hr {
  height: 1px;
  background: black;
  width: 75%;
  border: none;
  background: #B3B3B3;
}
.modal-gallery__add {
  font-family: "Syne";
  font-weight: 700;
  font-size: 1em;
  color: white;
  background-color: #1D6154;
  margin: 2em auto;
  padding: 0.6rem;
  width: 12vw;
  text-align: center;
  border: none;
  border-radius: 60px;
  white-space: nowrap;
  cursor: pointer;
  width: 16em;
  margin: 2em auto 1.5em;
}
@media screen and (max-width: 745px) {
  .modal-gallery__add {
    width: 16em;
  }
}
.modal-gallery__remove {
  border: none;
  background: #fff;
  font-weight: 400;
  font-size: 1em;
  color: #D65353;
  cursor: pointer;
  margin: 0 auto 1.5em;
}

.modal-gallery-content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-column-gap: 0.5em;
  grid-row-gap: 1em;
  margin: 2em auto 4em;
  text-align: left;
  width: 75%;
}
.modal-gallery-content img {
  width: 100%;
}
.modal-gallery-content figure {
  position: relative;
}
.modal-gallery-content figure .figure-button {
  border: none;
  width: 17px;
  height: 17px;
  color: #fff;
  background: black;
  padding: 0.1em;
  border-radius: 2px;
  cursor: pointer;
}
@media screen and (max-width: 745px) {
  .modal-gallery-content figure .figure-button {
    font-size: 1.5em;
    width: 32px;
    height: 32px;
    padding: auto;
  }
}
.modal-gallery-content figure .delete {
  position: absolute;
  top: 5px;
  right: 5px;
}
.modal-gallery-content figure .delete img {
  width: 9px;
  padding-bottom: 1px;
}
@media screen and (max-width: 745px) {
  .modal-gallery-content figure .delete img {
    width: 0.8em;
    padding-bottom: initial;
  }
}
.modal-gallery-content figure .move {
  position: absolute;
  top: 5px;
  right: 24px;
}
.modal-gallery-content figure .move i {
  font-size: 0.9em;
}
@media screen and (max-width: 745px) {
  .modal-gallery-content figure .move i {
    font-size: inherit;
  }
}
@media screen and (max-width: 745px) {
  .modal-gallery-content figure .move {
    right: calc(0.8em + 24px);
  }
}
@media screen and (max-width: 745px) {
  .modal-gallery-content {
    grid-template-columns: 1fr 1fr;
    margin: 1em auto 2em;
  }
}

.modal-add-picture .modal-close {
  border: none;
  background: #fff;
  position: absolute;
  right: 1.5em;
  top: 1.5em;
  font-size: 1.5em;
  cursor: pointer;
}
.modal-add-picture h3 {
  font-size: 1.9em;
  padding: 1.8em 0 1em;
}
.modal-add-picture hr {
  height: 1px;
  background: black;
  width: 75%;
  border: none;
  background: #B3B3B3;
}
.modal-add-picture__return {
  border: none;
  background: #fff;
  position: absolute;
  left: 1.5em;
  top: 1.5em;
  font-size: 1.5em;
  cursor: pointer;
}

#modal2-form {
  margin: 1.8em 4em 0;
  text-align: left;
  display: flex;
  flex-direction: column;
}
#modal2-form .add-image {
  position: relative;
  background: #E8F1F6;
  height: 18vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  margin-bottom: 1em;
}
#modal2-form .add-image__input {
  display: none;
}
#modal2-form .add-image__supported {
  font-size: 0.7em;
  margin-bottom: 2em;
}
#modal2-form .add-image__icon {
  width: 20%;
  opacity: 0.1;
  padding-top: 2em;
}
#modal2-form .add-image__label {
  font-family: "Syne";
  font-weight: 700;
  font-size: 1em;
  color: white;
  background-color: #1D6154;
  margin: 2em auto;
  padding: 0.6rem;
  width: 12vw;
  text-align: center;
  border: none;
  border-radius: 60px;
  white-space: nowrap;
  cursor: pointer;
  background: #CBD6DC;
  color: #306685;
  font-family: "Work sans";
  font-weight: 500;
  width: auto;
  margin: 1em auto 0.5em;
  cursor: pointer;
}
@media screen and (max-width: 745px) {
  #modal2-form .add-image__label {
    width: 16em;
  }
}
@media screen and (max-width: 745px) {
  #modal2-form .add-image__label {
    width: 10em;
  }
}
#modal2-form .add-image output {
  height: 100%;
  position: absolute;
  border-radius: 5px;
}
#modal2-form .add-image output .image {
  display: flex;
  justify-content: center;
  height: 100%;
  overflow: hidden;
  position: relative;
}
#modal2-form .add-image output .image img {
  object-fit: cover;
}
@media screen and (max-width: 745px) {
  #modal2-form .add-image {
    height: 18em;
  }
}
#modal2-form input,
#modal2-form select {
  height: 50px;
  font-size: 1.2em;
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
  padding: 0 1em;
}
#modal2-form select {
  margin-bottom: 2em;
  appearance: none;
  background-image: url(../../assets/icons/arrow_down.svg);
  background-repeat: no-repeat;
  background-position: calc(100% - 20px) center;
  background-size: 10px;
}
#modal2-form label {
  margin: 1em 0 0.6em 0;
}
#modal2-form hr {
  width: 100%;
}
#modal2-form button {
  font-family: "Syne";
  font-weight: 700;
  font-size: 1em;
  color: white;
  background-color: #1D6154;
  margin: 2em auto;
  padding: 0.6rem;
  width: 12vw;
  text-align: center;
  border: none;
  border-radius: 60px;
  white-space: nowrap;
  cursor: pointer;
  background: #A7A7A7;
  cursor: default;
}
@media screen and (max-width: 745px) {
  #modal2-form button {
    width: 16em;
  }
}
@media screen and (max-width: 745px) {
  #modal2-form {
    margin: 1em 2em 2em;
  }
}

.edition-banner {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
  background: #000000;
  color: #fff;
  padding: 0.6rem;
  gap: 1rem;
}
.edition-banner button {
  font-family: "Syne";
  font-weight: 700;
  font-size: 1em;
  color: white;
  background-color: #1D6154;
  margin: 2em auto;
  padding: 0.6rem;
  width: 12vw;
  text-align: center;
  border: none;
  border-radius: 60px;
  white-space: nowrap;
  cursor: pointer;
  margin: 0;
  width: auto;
  padding: 1em 1.8em;
  font-family: "Work Sans";
  font-weight: 500;
  background: #fff;
  color: #000000;
}
@media screen and (max-width: 745px) {
  .edition-banner button {
    width: 16em;
  }
}
@media screen and (max-width: 745px) {
  .edition-banner button {
    padding: 0.7em 0;
    width: 14em;
  }
}
@media screen and (max-width: 745px) {
  .edition-banner .edit-content {
    display: none;
  }
}

header,
main {
  padding: 0 30px;
}

#introduction {
  display: flex;
  align-items: center;
}
#introduction figure {
  display: flex;
  flex-direction: column;
  gap: 1em;
  flex: 1;
}
@media screen and (max-width: 745px) {
  #introduction figure {
    align-items: center;
    gap: 0.5em;
    margin-bottom: 2em;
  }
}
#introduction img {
  display: flex;
  justify-content: center;
  width: 80%;
}
#introduction .edit-content {
  justify-content: flex-start;
  width: fit-content;
}
#introduction article {
  display: flex;
  flex-direction: column;
  flex: 1;
  position: relative;
}
#introduction article .edit-content {
  width: fit-content;
  position: absolute;
  top: -2.5em;
}
@media screen and (max-width: 745px) {
  #introduction article .edit-content {
    top: initial;
    bottom: -2em;
  }
}
@media screen and (max-width: 745px) {
  #introduction article {
    align-items: center;
    margin-bottom: 3em;
  }
}
#introduction h2 {
  margin-bottom: 1em;
}
@media screen and (max-width: 745px) {
  #introduction h2 {
    text-align: center;
  }
}
#introduction p {
  margin-bottom: 0.5em;
}
@media screen and (max-width: 745px) {
  #introduction {
    flex-direction: column;
    gap: 2em;
  }
}

#portfolio .title {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2em;
  margin-bottom: 4em;
  margin-left: 7.5vw;
}
@media screen and (max-width: 745px) {
  #portfolio .title {
    flex-direction: column;
    margin: 0;
    gap: 1em;
  }
}

.gallery {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  padding-top: 3rem;
}
.gallery img {
  width: 100%;
}
@media screen and (max-width: 745px) {
  .gallery {
    grid-template-columns: 1fr;
  }
}

/* Filtres */
.filters {
  display: flex;
  justify-content: center;
  gap: 1rem;
}
.filters .btn {
  border: 1px solid #1D6154;
  background: #fffef6;
  border-radius: 60px;
  color: #1D6154;
  font-size: 1rem;
  font-weight: 700;
  padding: 0.6em 1.8em;
  cursor: pointer;
}
.filters .btn-active {
  background: #1D6154;
  color: #fffef6;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
@media screen and (max-width: 745px) {
  .filters {
    display: flex;
    flex-wrap: wrap;
  }
}

#contact {
  width: 50%;
  margin: auto;
}
#contact > * {
  text-align: center;
}
#contact h2 {
  margin-bottom: 20px;
}
#contact form {
  text-align: left;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}
#contact input {
  padding: 0 16px;
  height: 50px;
  font-size: 1.2em;
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
  background: #fff;
}
#contact label {
  margin: 2em 0 1em 0;
}
#contact button {
  font-family: "Syne";
  font-weight: 700;
  font-size: 1em;
  color: white;
  background-color: #1D6154;
  margin: 2em auto;
  padding: 0.6rem;
  width: 12vw;
  text-align: center;
  border: none;
  border-radius: 60px;
  white-space: nowrap;
  cursor: pointer;
}
@media screen and (max-width: 745px) {
  #contact button {
    width: 16em;
  }
}
@media screen and (max-width: 745px) {
  #contact {
    width: 90%;
  }
}
#contact textarea {
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

.login {
  font-weight: 600;
}

.main-login {
  width: 50%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-login > * {
  text-align: center;
}
.main-login h2 {
  margin-bottom: 20px;
}
.main-login form {
  text-align: left;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}
.main-login input {
  padding: 0 16px;
  height: 50px;
  font-size: 1.2em;
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
  background: #fff;
}
.main-login label {
  margin: 2em 0 1em 0;
}
.main-login button {
  font-family: "Syne";
  font-weight: 700;
  font-size: 1em;
  color: white;
  background-color: #1D6154;
  margin: 2em auto;
  padding: 0.6rem;
  width: 12vw;
  text-align: center;
  border: none;
  border-radius: 60px;
  white-space: nowrap;
  cursor: pointer;
}
@media screen and (max-width: 745px) {
  .main-login button {
    width: 16em;
  }
}
@media screen and (max-width: 745px) {
  .main-login {
    width: 90%;
  }
}
.main-login #login-window {
  width: 27em;
}
.main-login a {
  text-decoration: underline;
}
.main-login button {
  width: 12em;
}
@media screen and (max-width: 745px) {
  .main-login {
    width: initial;
  }
}

/*# sourceMappingURL=style.css.map */
