/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/** end reset css**/
body {
  font-family: "Work Sans";
  font-size: 14px;
  background: #fffef6;
  cursor: default;
}

nav ul {
  display: flex;
  align-items: center;
  list-style-type: none;
}

nav li {
  padding: 0 10px;
  font-size: 1.2em;
  cursor: pointer;
}

li:hover,
a:hover {
  color: #B1663C;
}

section {
  margin: 50px 0;
}

h2 {
  font-family: "Syne";
  font-weight: 700;
  font-size: 30px;
  color: #1D6154;
}

header,
main {
  max-width: 1140px;
  margin: auto;
}

header {
  display: flex;
  justify-content: space-between;
  margin: 50px auto;
}

h1 {
  display: flex;
  flex-direction: column;
  font-family: "Syne";
  font-size: 22px;
  font-weight: 800;
  padding: 0 10px;
  color: #B1663C;
}

h1 > span {
  font-family: "Work Sans";
  font-size: 10px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

footer {
  background: #fff;
  margin: 0 auto;
}

footer nav ul {
  display: flex;
  justify-content: flex-end;
  max-width: 1140px;
  padding: 2em;
}

/* Message d'alerte si chargement impossible des images */
.alert {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  color: rgb(255, 0, 0);
  font-weight: 800;
  background-color: rgb(255, 183, 183);
  border-radius: 10px;
  padding: 2vw;
  margin: 2vw 0;
}

/* Fin du message d'alerte */
.input-error {
  border: 2px solid rgb(255, 0, 0);
}

header,
main {
  padding: 0 30px;
}

#introduction {
  display: flex;
  align-items: center;
}

#introduction figure {
  flex: 1;
}

#introduction img {
  display: block;
  margin: auto;
  width: 80%;
}

#introduction article {
  flex: 1;
}

#introduction h2 {
  margin-bottom: 1em;
}

#introduction p {
  margin-bottom: 0.5em;
}

#portfolio h2 {
  text-align: center;
  margin-bottom: 1em;
}

.gallery {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.gallery img {
  width: 100%;
}

/* Filtres */
.filters {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin: 4.5vw 0 4vw;
}
.filters .btn {
  border: 1px solid #1D6154;
  background: #fffef6;
  border-radius: 60px;
  color: #1D6154;
  font-size: 1rem;
  font-weight: 700;
  padding: 0.6em 1.8em;
  cursor: pointer;
}
.filters .btn-active {
  background: #1D6154;
  color: #fffef6;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

/* Fin Filtres */
#contact {
  width: 50%;
  margin: auto;
}
#contact > * {
  text-align: center;
}
#contact h2 {
  margin-bottom: 20px;
}
#contact form {
  text-align: left;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}
#contact input {
  height: 50px;
  font-size: 1.2em;
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
  margin: 2em 0 1em 0;
}
#contact input[type=submit] {
  font-family: "Syne";
  font-weight: 700;
  color: white;
  background-color: #1D6154;
  margin: 2em auto;
  width: 180px;
  text-align: center;
  border-radius: 60px;
  cursor: pointer;
}
#contact textarea {
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

.main-login {
  width: 50%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-login > * {
  text-align: center;
}
.main-login h2 {
  margin-bottom: 20px;
}
.main-login form {
  text-align: left;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}
.main-login input {
  height: 50px;
  font-size: 1.2em;
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
.main-login label {
  margin: 2em 0 1em 0;
}
.main-login input[type=submit] {
  font-family: "Syne";
  font-weight: 700;
  color: white;
  background-color: #1D6154;
  margin: 2em auto;
  width: 180px;
  text-align: center;
  border-radius: 60px;
  cursor: pointer;
}
.main-login #login-window {
  width: 380px;
}
.main-login a {
  text-decoration: underline;
}

.footer-login {
  position: absolute;
  bottom: 0;
  width: 100%;
}

/*# sourceMappingURL=style.css.map */
