footer {
	background: #fff;
	margin: 0 auto;
}
footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin-right: 8vw;
	padding: 2em;
}

.footer-login {
    position: fixed;
    bottom: 0;
    width: 100%;
}