
/* Message d'alerte si chargement impossible des images */
.alert {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1rem;
	color: $color-background;
	font-weight: 800;
	background-color: rgb(255, 149, 149);
	border-radius: 10px;
	padding: 1rem;
	margin: 1vw 0;
}
/* Fin du message d'alerte */

