
/* Message d'alerte si chargement impossible des images */
.alert {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1rem;
	color: rgb(255, 0, 0);
	font-weight: 800;
	background-color: rgb(255, 183, 183);
	border-radius: 10px;
	padding: 2vw;
	margin: 2vw 0;
}
/* Fin du message d'alerte */

