
#modal1,
#modal2 {
    @include modal;
}

// Modal1
.modal-gallery {
    @include inner-modal;

    &__add {
        @include btn;
        width: 16vw;
        margin: 2em auto 1.6em;
    }

    &__remove {
        border: none;
        background: #fff;
        font-weight: 400;
        color: #D65353;
        cursor: pointer;
        margin: 0 auto 1.5em;
    }
}

.modal-gallery-content {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	grid-column-gap: 0.5em;
	grid-row-gap: 1em;
	margin: 2em 7em 4em;
    text-align: left;

	img {
		width: 100%;
	}
    figure {
        position: relative;

        .figure-button {
            border: none;
            color: #fff;
            background: black;
            font-size: 0.7em;
            padding: 0.35em 0.45em;
            border-radius: 2px;
            cursor: pointer;

            img {
                width: 9px;
            }
        }
        .delete {
            position: absolute;
            top: 5px;
            right: 5px;
        }

        .move {
            position: absolute;
            top: 5px;
            right: 24px;
        }
    }
}


// Modal2
.modal-add-picture {
    @include inner-modal;

    &__return {
        border: none;
        background: #fff;
        position: absolute;
        left: 1.5em;
        top: 1.5em;
        font-size: 1.5em;
        cursor: pointer;
    }
}

#modal2-form {
    margin: 1.8em 4em 0;
    text-align: left;
    display: flex;
    flex-direction: column;

    .add-image {
        position: relative;
        background: #E8F1F6;
        height: 18vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-radius: 5px;
        margin-bottom: 1em;

        &__input {
            display: none;
        }

        &__supported{
            font-size: 0.7em;
            margin-bottom: 2em;
        }
        
        &__icon {
            width: 20%;
            opacity: 0.1;
            padding-top: 2em;
        }

        &__label {
            @include btn;
            background: #CBD6DC;
            color: #306685;
            font-family: 'Work sans';
            font-weight: 500;
            width: auto;
            margin : 1em auto 0.5em;
            cursor: pointer;
        }

        output {
            height: 100%;
            position: absolute;
            border-radius: 5px;
    
            .image {
                display: flex;
                justify-content: center;
                height: 100%;
                overflow: hidden;
                position: relative;
    
                img {
                    object-fit: cover;
                }
            }
    
        }
    }

    input,
    select {
        height: 50px;
        font-size: 1.2em;
        border: none;
        box-shadow: $box-shadow;
        padding: 0 1em;
    }
    select {
        margin-bottom: 2em;
        appearance: none;
        background-image: url(../../assets/icons/arrow_down.svg);
        background-repeat: no-repeat;
        background-position: calc(100% - 20px) center;
        background-size: 10px;
    }
    label {
        margin: 1em 0 0.6em 0;
    }

    hr {
        width: 100%
    }
    button {
        @include btn;
        background: #A7A7A7;
        cursor: default;
    }
}