
#modal1 {
    position: relative;
    width: 45%;
    border: none;
    border-radius: 5px;
    background: #fff;
    text-align: center;

    &::backdrop {
        background: rgba(0, 0, 0, .4);
    }
}

.modal-gallery {

    &-close {
        position: absolute;
        right: 1.5em;
        top: 1.5em;
        font-size: 1.5em;
        cursor: pointer;
    }

    & h3 {
        font-size: 1.9em;
        padding: 1.8em 0 1em;
    }
    
    & hr {
        height: 1px;
        background: black;
        width: 75%;
        border: none;
    }

    &-add {
        @include btn;
        margin: 1em auto;
    }

    &-remove {
        font-weight: 400;
        color: #D65353;
        margin: 0.5em 0 2em;
        cursor: pointer;
    }
}

.modal-gallery-content {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	grid-column-gap: 0.5em;
	grid-row-gap: 1em;
	padding: 2rem 4em 4em;
    text-align: left;

	& img {
		width: 100%;
	}
    & figure {
        position: relative;

        & .icon {
            position: absolute;
            top: 5%;
            right: 5%;
            color: #fff;
            background: black;
            font-size: 0.7em;
            padding: 0.3em;
            border-radius: 2px;
            cursor: pointer;
        }

        & figcaption {
            cursor: pointer;
        }
    }
}
