
@mixin btn {
    font-family: 'Syne';
	font-weight: 700;
    font-size: 1em;
	color: white;
	background-color: $color-primary;
	margin : 2em auto;
    padding: 0.6rem;
	width: 12vw;
	text-align: center;
    border: none;
	border-radius: 60px;
    white-space: nowrap;
    cursor: pointer;
}

@mixin form {
    width: 50%;
    margin: auto;

    & > * {
        text-align: center;
    }
    h2{
        margin-bottom: 20px;
    }
    form {
        text-align: left;
        margin-top:30px;
        display: flex;
        flex-direction: column;
    }
    
    input {
        padding: 0 16px;
        height: 50px;
        font-size: 1.2em;
        border: none;
        box-shadow: $box-shadow;
        background: #fff;
    }
    label {
        margin: 2em 0 1em 0;
    }
    button {
        @include btn
    }
}

@mixin modal {
    position: relative;
    width: 45vw;
    border: none;
    border-radius: 5px;
    background: #fff;
    text-align: center;

    &::backdrop {
        background: rgba(0, 0, 0, .4);
    }
}

@mixin inner-modal {
    .modal-close {
        border: none;
        background: #fff;
        position: absolute;
        right: 1.5em;
        top: 1.5em;
        font-size: 1.5em;
        cursor: pointer;
    }

    h3 {
        font-size: 1.9em;
        padding: 1.8em 0 1em;
    }
    
    hr {
        height: 1px;
        background: black;
        width: 75%;
        border: none;
        background: $color-hr;
    }
}

@mixin alert-message {
	text-align: center;
	font-size: 1rem;
	color: $color-background;
	font-weight: 800;
	background: #f10707b3;
	border-radius: 10px;
	padding: 1rem;
	margin: 1vw 0;
}
