
.main-login{
    @include form;

    display: flex;
    justify-content: center;
    align-items: center;

    & #login-window{
        width: 380px;
    }

    & a {
        text-decoration: underline;
    }
}

input {
    padding: 0 16px;
}

.footer-login {
    position: fixed;
    bottom: 0;
    width: 100%;
}
