.login {
    font-weight: 600;
}

.main-login{
    @include form;

    display: flex;
    justify-content: center;
    align-items: center;

    #login-window{
        width: 27em;
    }

    a {
        text-decoration: underline;
    }

    @include mobil {
        width: initial;
    }
}
