
// Bloc affiché au log in
.edition-banner {
	display: none;
	justify-content: center;
	align-items: center;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 999;
	background: #000000;
	color: #fff;
	padding: 0.6rem;
	gap: 1rem;
	
	button {
		@include btn;
		margin: 0;
		width: auto;
		padding: 1em 1.8em;
		font-family: 'Work Sans';
		font-weight: 500;
		background: #fff;
		color: #000000;
		
		@include mobil {
			padding: 0.7em 0;
			width: 14em;
		}
	}

	@include mobil {
		.edit-content {
			display: none;
		}
	}
}

header,
main {
	padding: 0 30px;
}

#introduction {
	display: flex;
	align-items: center;

	figure {
		display: flex;
		flex-direction: column;
		gap: 1em;
		flex: 1;

		@include mobil {
			align-items: center;
			gap: 0.5em;
			flex-direction: column-reverse;
		}
	}

	img {
		display: flex;
		justify-content: center;
		width: 80%;
	}

	.edit-content {
		justify-content: flex-start;
		width: fit-content;
	}

	article {
		display: flex;
		flex-direction: column;
		flex: 1;
		position: relative;

		.edit-content{
			width: fit-content;
			position: absolute;
			top: -5vw;

			@include mobil {
				top: initial;
				position: initial;
			}
		}

		@include mobil {
			align-items: center;
		}
	}

	h2 {
		margin-bottom: 1em;

		@include mobil {
			text-align: center;
		}
	}

	p {
		margin-bottom: 0.5em;
	}

	@include mobil {
		flex-direction: column;
		gap: 2em;
	}
}

#portfolio {
	.title {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 2em;
		margin-bottom: 4em;
		margin-left: 7.5vw;

		@include mobil {
			flex-direction: column;
			margin: 0;
			gap: 0.5em;
		}
	}
}
.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
	padding-top: 3rem;

	img {
		width: 100%;
	}

	@include mobil {
	grid-template-columns: 1fr;
	}
}

/* Filtres */
.filters {
	display: flex;
	justify-content: center;
	gap: 1rem;

	.btn {
		border: 1px solid $color-primary;
		background: $color-background;
		border-radius: 60px;
		color: $color-primary;
		font-size: 1rem;
		font-weight: 700;
		padding: 0.6em 1.8em;
		cursor: pointer;
	}
	.btn-active {
		background: $color-primary;
		color: $color-background;
		box-shadow: $box-shadow;
	}
	@include mobil {
		display: flex;
		flex-wrap: wrap;
	}
}

/* Fin Filtres */

#contact {
	@include form;

	textarea {
        border: none;
        box-shadow: $box-shadow;
    }
}
